<mat-dialog-content style="text-align: center;" class="chelsea">
  <h1 style="color: #000042;">Math Runner <img class="logo" src="assets/images/logo.png"> </h1>
  <div *ngIf="toggle">
  <h2 style="color: #000042;">Welcome to the game!
    The game tests your math computing ability. You will be shown a grid and imagine you are on the first cell(top left) and
    your princess is in the last cell (bottom right). You want to get there with as fewer steps as possible.
    But, you need to follow some simple rules. Click next to see the instructions.</h2>
  </div>
  <div *ngIf="!toggle">
    <div class="image">
      <img *ngIf="!toggle" [ngClass]="{ 'desktop-view': width >= 768, 'mobile-view': width < 768
}"[src]="currImage.image" [alt]="currImage.id">
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button *ngFor="let button of buttons;" [id]="button.id"
         (click)="onClick($event)" style="color: #287b26;">
    {{button.name}}
  </button>
</mat-dialog-actions>
