<mat-dialog-content style="text-align: center;" class="chelsea">
  <h1 style="color: #000042;">Math Runner <img class="logo" src="assets/images/logo.png"> </h1>
  <h2 class="blinking" style="color: brown">
    Game Updates!
  </h2>
  <p style="color: #000042;">
    Hello Math Runner fans! Hope you are enjoying the game. Below are some updates for the game!
  </p>
  <ul style="text-align: justify; color: #000042;">
    <li>MathRunner will be available in appstore soon! Yes. Stay tuned, it's happening!</li>
    <li>Continue where you left off! Using cookies to store the game progress and score.</li>
    <li>Reset button so you can clear the state anytime and start fresh.</li>
    <li>Contact Developer option at the bottom of the page to provide any feedback or report any bugs.</li>
    <li>Finally, Thanks for playing! :)</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button matDialogClose="Ok" style="color: #287b26;">
    Ok
  </button>
</mat-dialog-actions>
