<mat-dialog-content style="text-align: center;" class="chelsea">
  <h1 style="color: #000042;">Math Runner <img style="height: 100px" class="logo" src="assets/images/logo.png"> </h1>
  <h2 class="blinking" style="color: brown">
    Game Updates!
  </h2>
  <a href="https://apps.apple.com/us/app/math-runner-path-finder/id1546130036?itsct=apps_box&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-US?size=250x83&amp;releaseDate=1611360000&h=17ed822806f41d34803410105ceda3d7" alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
  <p style="color: #000042;">
    Hello Math Runner fans! Hope you are enjoying the game. Below are some updates for the game!
  </p>
  <ul style="text-align: justify; color: #000042;">
    <li>MathRunner - PathFinder is now available in AppStore! Download the app now!</li>
    <li>Contact Developer option at the bottom of the page to provide any feedback or report any bugs.</li>
    <li>Finally, Thanks for playing! :)</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button matDialogClose="Ok" style="color: #287b26;">
    Ok
  </button>
</mat-dialog-actions>
