<div style="text-align:center; font-family: cursive; color: #000042;">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div style="text-align: center; color: brown">
  <h2>Timer: {{timeLeft}}</h2>
</div>
<div id="mygrid" *ngIf="display" class="divElement" style="-webkit-user-select: none;user-select: none;">
  Result = {{result}}
  <mat-grid-list cols="{{currLevelInfo.cols}}" rowHeight="2:1">
    <mat-grid-tile *ngFor="let num of currLevelInfo.matrix; let i = index" [attr.data-index]="i"
                   (mousedown)="myChangeEvent($event, true)" (mouseover)="myChangeEvent($event, false)">
      {{ num }}
    </mat-grid-tile>
  </mat-grid-list>
</div>

