mat-grid-tile {
  background: lightblue;
}

.divElement {
  /*position: fixed;*/
  top: 70%;
  left: 50%;
  /*height: 100vh;*/
  /*width: 100vh;*/
  /*-webkit-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
}

.startHere {
  pointer-events: none;
  align-self: start;
  text-align: left;
  float: left;
  position: absolute;
  left: 0px;
  font-family: Chelsea Market;
  font-size: smaller;
}
