<div style="text-align:center; font-family: 'Chelsea Market'; color: #000042;">
  <h1>
    Welcome to {{ title }}!
    <img class="logo" src="assets/images/logo.png">
  </h1>
</div>
<div style="text-align: center; color: brown">
  <form [formGroup]="modeForm" style="display: inline-flex">
  <mat-form-field style="width: 130px">
    <mat-label>Game Difficulty</mat-label>
    <mat-select formControlName="gameMode" (selectionChange)="onDifficultyChange($event)">
      <mat-option style="color: brown" *ngFor="let mode of gameModes" [value]="mode"> {{mode.name}} </mat-option>
    </mat-select>
  </mat-form-field>
  </form>
  <h2 style="display: inline-flex; padding-left: 30px; color: #000042">Level: <h2 style="color: brown; display: contents;">{{currLevelNumber + 1}} </h2></h2>
  <h2 style="padding-left: 30px; color: #000042;">Score: <h2 style="color: brown; display: contents;">{{totalScore}}</h2></h2>
</div>
<div id="mygrid" *ngIf="display" class="divElement" style="-webkit-user-select: none;user-select: none;">
  <div style="text-align: center; color: brown">
    <h2>Miles to reach me: {{currLevelInfo.solution}}</h2>
  </div>
  <div style="text-align: center;">
    Result = {{result}}
  </div>
  <div style="width: 100%;height: 100%;">
  <mat-grid-list cols="{{currLevelInfo.cols}}" rowHeight="80px">
    <mat-grid-tile *ngFor="let num of currLevelInfo.matrix; let i = index; let last = last; let first = first;" [attr.data-index]="i"
                   (mousedown)="myChangeEvent($event, true)" (mouseover)="myChangeEvent($event, false)">
      <span *ngIf="first" class="startHere">Start Here!</span>
      <span *ngIf="!last" style="pointer-events: none"> {{ num }} </span>
      <img *ngIf="last" src="assets/images/princess-t.png"
           alt="Miles to reach me: {{currLevelInfo.solution}}" style="object-fit: cover; pointer-events: none; height: inherit; width: inherit;">
    </mat-grid-tile>
  </mat-grid-list>
  </div>
  <br>
  <br>
  <div style="text-align: center">
  <button mat-raised-button
          (click)="quitGame($event)" style="color: brown;">
    Quit Game
  </button>
  </div>
</div>

<div class="footer text-center py-3">
  <a href="mailto:mathrunner.fun@gmail.com?subject=Feedback for MathRunner!">Contact Developer</a>
</div>

