<mat-dialog-content style="text-align: center; font-family: 'Chelsea Market'">
<h1 style="color: #000042">Math Runner  <img style="height: 7rem; width: 7rem;" src="assets/images/logo.png"> </h1>
<h2 style="color: #000042">Well played!! Below are your game results</h2>
  <h2 style="color: #000042">Score: <h2 style="color: brown; display: inline-block;">{{totalScore}} </h2></h2>
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <!-- Item Column -->
    <ng-container matColumnDef="mode">
      <th mat-header-cell *matHeaderCellDef> Mode </th>
      <td mat-cell *matCellDef="let data"> {{data.mode}} </td>
    </ng-container>

    <!-- Cost Column -->
    <ng-container matColumnDef="levelsCompleted">
      <th mat-header-cell *matHeaderCellDef> Levels Completed </th>
      <td mat-cell *matCellDef="let data"> {{data.levelsCompleted}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<br>
<p style="color: red">Now take a screenshot and share your score!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button
        (click)="onClick($event)" style="color: #287b26;">
    New Game
  </button>
</mat-dialog-actions>
