<mat-dialog-content style="text-align: center; font-family: 'Chelsea Market'">
<h1 style="color: #000042">Math Runner</h1>
<h2 style="color: #000042">Well played!! Below are your game results</h2>
<ul style="text-align: justify;">
  <li *ngFor="let entry of gameSummaryInfo | keyvalue">
    <div [ngStyle]="{'color':entry.value.isShortest ? 'green': 'grey'}">
      Level: {{entry.key}} -------- Retries: {{entry.value.retries}}
    </div>
  </li>
</ul>
<p style="color: red">Now take a screenshot and share your score!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button
        (click)="onClick($event)" style="color: #287b26;">
    New Game
  </button>
</mat-dialog-actions>
