/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: cursive;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

/* Make all buttons uppercase */
button {
  text-transform: uppercase;
}
